<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="study.hank.com.draw001">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".activity.children.ScratchCardActivity"></activity>
        <activity
            android:name=".activity.children.CustomDrawableActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.children.OverlayDrawActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.children.MatrixActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.children.RoundImageViewActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.children.ScrollViewInnerCustomViewActivity" />
        <activity
            android:name=".activity.children.ShaderActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".activity.children.DrawTextActivity" />
        <activity android:name=".activity.children.OlympicRingsActivity" />
        <activity
            android:name=".activity.nav.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>